html{
	background: url('../img/rust.jpg');

}

body {
	font-family: 'Special Elite', sans-serif;
	color:  #B4C34F;
    
}

a {
  color: #B4C34F;
  text-decoration: none
}

h1 {
  color: #7FFF00;
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
	font-size: 1.50em;
    color: #7FFF00 ;
}

.btn {
	color: #FAF3BC;
	background: #4FB69F url('image/texture.png') no-repeat right top;
	padding: 10px 10px;
	margin: 60px 0 60px 0;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover{
	background-color: #151515;
	}

ul.nav {
	font-size: 1,5em;
	margin:  0 0 0 0;
	list-style: none;
	float: right;
	padding: 10px 5px;
	;
}

ul.nav li {
	float: left;
	margin-right: 20px;
	font-size: 1.1em;
}

ul.nav li a{
	color: #7FFF00;
}

#intro {
   margin: 10px 0 75px 0;
   
   padding: 0 10px;
}

#new-sightings img {
	border: 2px solid #7FFF00;
	margin: 0 0 20px 0;
}

#featured-sighting img {
	border: 2px solid #7FFF00;
}

#copyright {
	color: #7FFF00;
	border-top: 8px solid #7FFF00;
	padding:10px 0px;
	margin: 15px 0px;
    text-align: center;
}

#Pablo-Ufo {
	color: black;
	font-size: 1.45em;
	position: absolute;
	left: 140px ;
	top: 125px ;
	z-index: 20;
}

