body {
  font-family: 'Nunito', sans-serif;
  color: #3f3f3f;
    background: #420600 url('img/bg-texture.jpg') repeat;
}

a {
  color: #4FB69F;
  text-decoration: none
}

h1 {
  font-size: 1.750 em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.50 em;
    color: #B4C34F;
}

